.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.vl {
    width: 2px;
    height: fit;
    background-color: rgb(66, 216, 184);
}

.dot {
    width: 15px;
    height: 15px;
    background-color: white;
    border: 3px solid rgb(63, 132, 235);
    border-radius: 100%;
    position: relative;
    right: 32px;
    top: 37px;
}

.resmue-2 {
    position: absolute;
    top: 100px;
}